In [2]:
import os
import sys

import seaborn as sns
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

PROJ_ROOT = os.path.join(os.pardir)

In [3]:
census_path = os.path.join(PROJ_ROOT, 
                         'data',
                         'raw',
                         'chicago census tract.csv')

census = pd.read_csv(census_path)

places_path = os.path.join(PROJ_ROOT, 
                         'data',
                         'interim',
                         '500_places.csv')

df = pd.read_csv(places_path)

In [4]:
census.head()

,the_geom,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,COMMAREA,COMMAREA_N,NOTES
0,MULTIPOLYGON (((-87.62404799998049 41.73021699...,17,31,842400,17031842400,8424.0,Census Tract 8424,44,44,NaN
1,MULTIPOLYGON (((-87.6860799999848 41.822956000...,17,31,840300,17031840300,8403.0,Census Tract 8403,59,59,NaN
2,MULTIPOLYGON (((-87.62934700001182 41.85279700...,17,31,841100,17031841100,8411.0,Census Tract 8411,34,34,NaN
3,MULTIPOLYGON (((-87.68813499997718 41.85569099...,17,31,841200,17031841200,8412.0,Census Tract 8412,31,31,NaN
4,MULTIPOLYGON (((-87.63312200003458 41.87448800...,17,31,839000,17031839000,8390.0,Census Tract 8390,32,32,NaN

In [5]:
census.shape

(801, 10)

In [6]:
census_tracts = census.GEOID10

In [14]:
df[df.locationname.isin(census_tracts)].pivot(values='data_value',columns='measure',index='locationname').shape

(797, 28)

It looks like there are some census tracts that are not in the 500 PLACES dataset

In [8]:
pd.merge(census[['GEOID10','NAME10']], df, left_on='GEOID10',right_on='locationname',how='left').pivot(values='data_value',columns='measure',index='GEOID10').shape

(801, 29)

In [9]:
set(census_tracts) - set(df.locationname.unique())

{17031381700, 17031835700, 17031980000, 17031980100}

![O'Hare Aiport](..\\reports\\figures\\17031980000.png)
![Midway Aiport](..\\reports\\figures\\17031980100.png)
![17031835700](..\\reports\\figures\\17031835700.png)
![17031381700](..\\reports\\figures\\17031381700.png)

Two of the census tracts are airports, and the other two appear to be smaller tracts, but unsure why they are not included in the dataset.

In [10]:
df=df[df.locationname.isin(census_tracts)]#.pivot(values='data_value',columns='measure',index='locationname')

In [11]:
len(df.locationname.unique())

797

In [ ]:
# places_path = os.path.join(PROJ_ROOT, 
#                          'data',
#                          'interim',
#                          '500_places_ct_filtered.csv')
# df.to_csv(places_path, index=False)

In [16]:
places_path = os.path.join(PROJ_ROOT, 
                         'data',
                         'interim',
                         '500_places_ct_filtered_2.csv')
df[df.locationname.isin(census_tracts)].pivot(values='data_value',columns='measure',index='locationname').reset_index().to_csv(places_path,index=False)